<!DOCTYPE html>
<html lang="en">
<body>
<footer class="text-muted bg-secondary bg-opacity-10" id="footer">
    <div class="container">
        <div class="col text-center">
            <div class="row justify-content-md-center">
                <p class="mb-1">
                    <a class="text-secondary" href="https://github.com/Seweryn91/WhatTheFridge">
                        What The Fridge?!</a> by <a class="text-secondary" href="http://github.com/Seweryn91">Seweryn91
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-github"
                         viewBox="0 0 16 16">
                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                    </svg>
                </a>
                </p>
                <p class="text-secondary d-flex justify-content-center pt-1 px-2"><small>The content provided on this
                    website is
                    for informational and demonstrative purposes only. We do not claim ownership or authorship of any
                    recipes, images, or content originating from external sources, including linked websites and/or
                    pictures. The recipes and images displayed here are collected and curated from various online
                    platforms
                    and are credited to their respective owners.</small></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>