<!DOCTYPE html>
<html lang="en">
<body>
    <footer class="text-muted py-5">
        <div class="containter">
            <div class="text-center mb-1">
                <p class="mb-1"><a class="text-secondary" href="https://github.com/Seweryn91/WhatTheFridge">
                    What The Fridge?!</a> by <a class="text-secondary" href="http://github.com/Seweryn91">Seweryn91</a></p>
                <p class="text-secondary d-flex justify-content-center"><small>The content provided on this website is for informational and demonstrative
                    purposes only. We do not claim ownership or authorship of any recipes, images, or content
                    originating from external sources, including linked websites and/or pictures. The recipes and
                    images displayed here are collected and curated from various online platforms and are credited to
                    their respective owners.</small></p>
            </div>
        </div>
    </footer>
</body>
</html>