<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="auto"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dishes found</title>
    <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/themeToggler.js"></script>
    <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/custom.css" type="text/css" rel="stylesheet"/>
    <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body onload="set()">
<div id="page-container">
    <div id="content-wrap">
        <div sec:authorize="!hasRole('ADMIN')">
            <div th:insert="fragments/header :: header"></div>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <div th:replace="fragments/header :: admin-header"></div>
        </div>
        <div class="col-md-8 offset-md-2 p-3 mb-3 border border-secondary-subtle rounded">
            <div class="container">
                <tr>
                    <td>Selected ingredients:</td>
                    <td>
                        <p></p>
                        <div id="chosen-ingredients"
                             class="d-flex flex-wrap justify-content-center column-gap-2 row-gap-2">
                            <th:block th:each="entry: ${chosenIngredients}">
                                <input type="checkbox" class="btn-check" th:id="${entry.name}"
                                       name="ingredient" style="margin-bottom: 2px; margin-top: 2px;"
                                       th:value="${entry.name}" autocomplete="off" disabled/>
                                <label class="btn btn-outline-success" th:for="${entry.name}"
                                       th:text="${entry.name}"></label>
                            </th:block>
                        </div>
                    </td>
                    <hr class="hr"/>
                </tr>

            </div>

            <div class="album p-2">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col" th:each="dish, need : ${dishes}">
                            <div class="card shadow-lg rounded-5 h-100">
                                <div class="card-top">
                                    <a th:href="@{'/dish/get/' + ${dish.id}}">
                                        <img th:src="${dish.pictureLink}" alt="🍽"
                                             class="card-img-top rounded-top-5 img-responsive"
                                             height="420px" focusble="false">
                                    </a>
                                    <div class="card-body">
                                        <p class="card-text overflow-hidden" style="max-height = 10vh;">
                                            <a class="link-secondary h3" th:href="@{'/dish/get/' + ${dish.id}}"
                                               th:text="${dish.name}"></a>
                                            <br>
                                        <div th:if="${dish.sweetDish}" style="background-color: #C88EA7; border: 1px;
                                    border-radius: 4px; color: #D3D3D3" class="sweetType text-center small">🧁 SWEET 🍦
                                        </div>
                                        <div th:unless="${dish.sweetDish}" style="background-color: #884A39; border: 1px;
                                    border-radius: 4px; color: #D3D3D3;" class="savoryType text-center small">🫒 SAVORY
                                            🧄
                                        </div>
                                        <br>
                                        <p>Ingredients needed:
                                            <button class="btn btn-rounded" style="color: black"
                                                    data-bs-toggle="tooltip"
                                                    title="You need this many ingredients" id="needed-ings"
                                                    th:text="${needs[need.index]}"></button>
                                        </p>
                                        </p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a th:href="@{'/dish/get/' + ${dish.id}}"
                                                   class="btn btn-sm btn-outline-secondary" type="button">View</a>
                                                <p sec:authorize="hasRole('ADMIN')">
                                                    <a th:href="@{'/dish/update/' + ${dish.id}}"
                                                       class="btn btn-sm btn-outline-secondary" type="button">Edit</a>
                                                </p>
                                            </div>
                                        </div>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${dishes.empty}">No dishes found for selected ingredients 😔</div>
                </div>
                <br>
                <form>
                    <hr class="hr"/>
                    <a class="btn btn-secondary" href="/allingredients" role="button">New search</a>
                </form>
            </div>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</div>
<script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

</script>
<script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/popper.min.js"></script>
<script>
        function set() {
            colorAdjust();
            adjustTooltip();
        }

        function colorAdjust() {
        let theme = document.documentElement.getAttribute('data-bs-theme');
            let indicators = document.getElementsByClassName("btn btn-rounded");
            for (let i = 0; i < indicators.length; i++) {
                let number = indicators[i].innerHTML;
                if (number == 0) {
                    indicators[i].style.backgroundColor = "#98D8AA";
                    indicators[i].style.borderColor = "#98D8AA";
                    if (theme == "dark") indicators[i].style.opacity = 0.7
                    else indicators[i].style.opacity = 1;
                } else if (number == 1 || number == 2) {
                    indicators[i].style.backgroundColor = "#F3E99F";
                    indicators[i].style.borderColor = "#F3E99F"
                    if (theme == "dark") indicators[i].style.opacity = 0.7;
                    else indicators[i].style.opacity = 1;
                } else if (number == 3) {
                    indicators[i].style.backgroundColor = "#F7D060";
                    indicators[i].style.borderColor = "#F7D060"
                    if (theme == "dark") indicators[i].style.opacity = 0.7;
                    else indicators[i].style.opacity = 1;
                } else {
                    indicators[i].style.backgroundColor = "#FF6D60";
                    indicators[i].style.borderColor = "#FF6D60"
                    if (theme == "dark") indicators[i].style.opacity = 0.7;
                    else indicators[i].style.opacity = 1;
                }
            }
        }

        function adjustTooltip() {
            let tips = document.getElementsByClassName("btn btn-rounded");
            for (let i = 0; i < tips.length; i++) {
                let value = tips[i].innerHTML;
                if (value == 0) {
                    tips[i].setAttribute("data-bs-original-title", "You have all the ingredients! 🥳");
                }
                if (value == 1 || value == 2) {
                    tips[i].setAttribute("data-bs-original-title", "You are missing just a few ingredients! 🙂");
                }
                if (value == 3) {
                    tips[i].setAttribute("data-bs-original-title", "Close, but you need to get some more! 😐");
                }
                if (value > 3) {
                    tips[i].setAttribute("data-bs-original-title", "Looks like you need to go shopping 😞");
                }
            }
        }

</script>
</body>
</html>