<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="auto"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>What The Fridge? View dish</title>
  <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/themeToggler.js"></script>
  <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/custom.css" type="text/css" rel="stylesheet"/>

  <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div sec:authorize="!hasRole('ADMIN')">
  <div th:insert="fragments/header :: header"></div></div>
<div sec:authorize="hasRole('ADMIN')">
  <div th:replace="fragments/header :: admin-header"></div></div>
</div>
<div th:if="${dish} != null">
  <div class="container">
    <h1 th:text="${dish.name}"></h1>
    <hr>
      <div th:if="${dish.pictureLink} == null">
        NO PICTURE FOUND
      </div>
    </div>
    <div th:if="${dish.pictureLink} != null">
      <img th:src="${dish.pictureLink}" style="object-fit: cover; width: 100%; height: 420px;" alt="Dish picture">
    </div>
  </div>
  <table name="dishInfo">
    <br>
    Is sweet: <input type="checkbox" th:name="*{dish.sweetDish}" label="is sweet?"
                     th:checked="*{dish.sweetDish}" disabled="disabled">
    <br>
    <div name="ingredients">
      <div th:if="${storedIngredients} == null">
        Ingredients:
        <input checked="true" type="checkbox" id="ingredients" name="ingredients" th:each="ingredient: ${ingredients}" ]
               th:text="${ingredient.name}" th:value="${ingredient.name}" disabled="disabled"></td>
      </div>
      <div>

        <a th:if="${storedIngredients} != null" >WHAT YOU HAVE:</a>
        <a th:each="i: ${storedIngredients}">

          <a th:text="${i.name}">ingredient</a></a>
          <br>
      </div>

      <div th:if="${missing != null AND !missing.empty}">WHAT YOU NEED:
        <a th:each="i: ${missing}">
        <a th:text="${i.name}">ingredient</a></a>
      </div>
      <div th:unless="${missing == null OR !missing.empty}">You have all ingredients!</div>
    </div>
      <br>
    <div th:unless="${dish.recipeLink == null OR dish.recipeLink == ''}">
      <span id="recipeLink" th:if="${dish.recipeLink!=null}">Recipe link <a th:href="${dish.recipeLink}">HERE</a></span>
    </div>
  </table>

<div th:unless="${dish} != null">
  Dish not found!
</div>
<input onclick='javascript:window.history.back()' value='Back to recipe list' type='button' />
<a th:href="@{/}">New search</a>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>