<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>What The Fridge?!</title>
    <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div sec:authorize="hasRole('ADMIN')"><div th:insert="fragments/admin-header :: admin-header"></div></div>
<p>Do you have no idea what to cook?</p>
<p>Ingredients I always have in my pantry: baking powder, oil, salt, herbs and spices, vinegar, soy sauce, dry yeast.</p>
<p>Check what more you have and explore dishes you can make with these ingredients.</p>
<a href="/allingredients">NEW SEARCH</a>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>