<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>What The Fridge?!</title>
    <link href="/../bootstrap/bootstrap-5.3.0-alpha3-dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/../bootstrap/bootstrap-5.3.0-alpha3-dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<p>No idea about what to eat?</p>
<p>Do you have salt, oil, water and other basic ingredients handy? If so, check your fridge and pantry,
check our checklist and explore dishes you can make with these.</p>
<a href="/allingredients">NEW SEARCH</a>
</body>
</html>