<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>What The Fridge?!</title>
</head>
<body>
<p>Choose ingredients you have handy:</p>
<form action="/dishes">
    <input type="checkbox" th:each="ingredient: ${ingredients}" th:value="${ingredient.name}"
           name="ingredient" th:text="${ingredient.name}">
    <br>
    <input type="radio" name="isSweet" id="BOTH" value="SWEET AND SAVORY"><label for="BOTH">SWEET AND SAVORY</label>
    <input type="radio" name="isSweet" id="SAVORY" value="SAVORY">
    <input type="radio" name="isSweet" id="SWEET" value="SWEET">
    <input type="submit" value="WHAT THE FRIDGE?!">
</form>
</body>
</html>