<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <link th:href="@{/../bootstrap-5.0.2-dist/css/bootstrap.min.css}" rel="stylesheet" />
    <script src="/../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<form action="/dishes">
    <input type="checkbox" th:each="ingredient: ${ingredients}"
           th:value="${ingredient.name}" name="ingredient" th:text="${ingredient.name}">
    <br>
    <br>

    <input type="radio" name="dishType" id="BOTH" value="both"><label for="BOTH">SWEET AND SAVORY</label>
    <br>
    <input type="radio" name="dishType" id="SAVORY" value="savory"><label for="SAVORY">SAVORY</label>
    <br>
    <input type="radio" name="dishType" id="SWEET" value="sweet"><label for="SWEET">SWEET</label>

    <br>

    <input type="submit" value="WHAT THE FRIDGE?!">
</form>
</body>
</html>